


/*  Social Media Icons - Stop Bar from wrapping  */

/*
.social-nav .navbar-nav>li, .social-nav .navbar-nav {
float: left !important;    

}
*/

.social-nav{
    background-color: white;
    position: relative;
    max-width: 350px;
    min-width: 280px;
    height:50px;
    border-style: solid;
}

.social-nav i {
    font-size: 25px; 
}




ul.nav {
    text-align: center;
}
ul.nav li{
    display: inline-block;
}

/*

.nav{
----
----
list-style:none;
margin:0;
padding:0;
text-align:center;
}
.nav li{
display:inline;
}
.nav a{
display:inline-block;
padding:10px;
}

*/


/*  Social Media Icons  */




/*BUTTON CIRCLES STARTS*/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}
.btn-circle-giant {
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 6px 0;
    font-size: 24px;
    line-height: 1.428571429;
    border-radius: 75px;
}

/*BUTTON CIRLCLES ENDS*/





body{
    max-width: 1400px;
    padding-top:40px;
    position: relative;
}

.images{
    width:100%;
    margin-left:0em;
    margin:0em;
    padding:0em;
}

.hero-text p {
    float:none;
}

#myCarousel {
    height: 600px;    
}

#myCarousel img {
    height: 600px;
    width:100%;
}

.aboutme img{
    margin-bottom: -25px;    
}




.anchor {
    display:block;
    position:relative;
    top:-50px;
    visibility:hidden;
}

/* NAV TABS - Grades */

.nav-tabs  li {

    width:100px;
    display:inline-block;
    text-align: justify;

}

.nav-tabs {
    display: flex;
}
.nav-tabs > li {
    justify-content: space-between;
}
.nav-tabs > li > a {
    color: #000 !important;
}

.grades {
    max-width: 400px;
}


.grades-content {
    max-width: 400px; 
    min-width: 200px;        
}

/* NAV TABS - Grades */


.grades     {height: 100vh; }
.projects   {height: 100vh; }
.hobbies    {height: 100vh; }
.aboutme    {height: 100vh; }





/***********************
*   /=============\    * 
*  | Media Queries |   *
*   \=============/    *
************************/
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    body {
        background-color: green;
    }
}/*lg*/


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    body {
        background-color: yellow;
    }

    .social-nav ul{
        margin-left: 7%;
        margin-right: 7%;
    }
}/*md*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 768px) { 
    body {
        background-color: orange;
    }
    .navbar-inner{
        margin-left: 
    }

    .navbar-inverse { background-color:transparent;
        border-color:transparent;
    }
    #myNavbar {
        background: #222 ;
        float: right;
        width:150px;
        /*        height: 177px;*/
    }

    .navbar-inverse {
        border-color:transperant;
    }

    .navbar-inverse::after {
        background: #222 none repeat scroll 0 0;
        height: 50px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}/*sm*/

/* Extra small devides (vertical phones) */
@media (max-width:575px){
    body{
        background-color: rebeccapurple;
    }
    .navbar-inner{
        margin-left: 0;
    }

    .navbar-inverse { background-color:transparent;
        border-color:transparent;
    }
    #myNavbar {
        background: #222 ;
        float: right;
        width:150px;
        /*        height: 177px;*/
    }

    .navbar-inverse {
        border-color:transperant;
    }

    .navbar-inverse::after {
        background: #222 none repeat scroll 0 0;
        height: 50px;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    .btn-circle-giant {
        width: 75px;
        height: 75px;
        text-align: center;
        padding: 6px 0;
        font-size: 24px;
        line-height: 1.428571429;
        border-radius: 75px;
    }


}/*xs*/





